{% extends "base.html" %}

{% block content %}
<h2>Neue Reise planen</h2>

<form method="POST">
    <div>
            <label for="costume_size">Wohin möchtest du reisen?:</label>
              <select name="costume_size" id="costume_size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
              </select>
          </div>
    
        
       
        {% endfor %}
    </select>

    <br><br>
    <button type="submit">Reise anlegen</button>
</form>


{% endblock %}
