{% extends "base.html" %}



{% block content %}



<form method="post">
  <label for="reiseziel">Reiseziel:</label>
  <select name="reiseziel" id="reiseziel" required onchange="this.form.submit()">
    <option value="" disabled {% if not selected_reiseziel %}selected{% endif %}>Bitte auswählen</option>
    {% for ziel in reiseziele %}
      <option value="{{ ziel.id }}" {% if ziel.id == selected_reiseziel|int %}selected{% endif %}>
        {{ ziel.name }}
      </option>
    {% endfor %}
  </select>
</form>

{% if hotels %}
<form method="post">
  <label for="hotel">Hotel:</label>
  <select name="hotel" id="hotel" required>
    <option value="" disabled {% if not selected_hotel %}selected{% endif %}>Bitte auswählen</option>
    {% for hotel in hotels %}
      <option value="{{ hotel.id }}" {% if hotel.id == selected_hotel|int %}selected{% endif %}>
        {{ hotel.name }}
      </option>
    {% endfor %}
  </select>

  <br><br>
  <button type="submit">Auswählen</button>
</form>
{% endif %}

    
{% endblock %}
